$c-border: #b5b5b5;

.results {
    max-width: 45%;
    width: 100%;
    display: inline-block;
    vertical-align: top;

    table  {
        width: 100%;
        tr {
            th {
                text-align: left
            }
            td {
                border-bottom: 1px solid $c-border;
                padding: 5px;
       	    }
        }
    }
}