doctype html
html
    head
        meta(charset="utf-8")
        title Speedly
        link(rel="stylesheet" href="css/main.css")
    body(ng-app="speedly")
        .wrapper
            speedly(settings)
            speedly(speedometer)

        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" defer)

        script(src="app.js" defer)

        script(src="./services/settings.service.js" defer)

        script(src="speedly.directive.js" defer)

        script(src="./settings/settings.directive.js" defer)
        script(src="./speedometer/speedometer.directive.js" defer)
        script(src="./results/results.directive.js" defer)