$c-border: #b5b5b5;
$c-field-border: #aaa;
$c-light-gray: #ccc;

.speedometer {
    text-align: center;
    border: 1px solid $c-border;
    width: 100%;
    max-width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;

    &__top {
        p {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        .call-settngs {
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            background: url('../assets/img/settings.png') center no-repeat;
            width: 16px;
            height: 16px;
        }
    }

    &__field {
        width: 80%;
        height: 300px;
        margin: 10px auto;

        .field {
            width: 100%;
            height: 85%;
            border: 1px solid $c-field-border;
            color: $c-light-gray;
            position: relative;

            &.hide {
                opacity: 0;
                visibility: hidden;
            }

            .time {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $c-light-gray;
                font-size: 50px;
                z-index: 0;
            }
        }

        .btn {
            display: block;
            width: 120px;
            height: 30px;
            line-height: 28px;
            margin: 10px auto 0;
        }
    }
}