.settings(ng-if="speedly.showed")
    .settings__content
        h1 Настройки
        form(name="setting_form" id="setting-form" ng-submit="save()")
            fieldset
                div
                    label(for="time") Замерять каждые:
                    select(id="time" name="time" ng-model="speedly.timeSelected" ng-options="time.name for time in speedly.times track by time.value")
                div
                    label(for="username") Имя пользователя:
                    input(type="text" name="username" id="username" ng-model="speedly.username" required)

                div
                    input(type="submit" value="OK").btn